body, html {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.075rem;
    background: linear-gradient(to top, #f8a5d3, #e9a6de, #d6a9e6, #c2abec, #acaeef, #9ab6f6, #88bdf9, #76c4f9, #68d1fb, #62ddf9, #69e8f3, #7bf2ea);
    opacity: 0.875;
}

.container {
    width: 550px;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    color: black;
    text-shadow: 1px 1px #919191;
    box-shadow: 7.5px -7.5px #f3f3f3;
}

h1 {
    margin: 15px 0 10px 0;
    text-align: center;
}

label {
    display: block;
    text-align: center;
}

label:nth-of-type(1) {
    margin: 20px 0;
}

label:nth-of-type(2) {
    font-size: 1rem;
    margin: 15px 0;
}

.input-div {
    display: flex;
    justify-content: center;
}

.input-div > input{
    height: 25px;
    text-align: center;
    margin-bottom: 30px;
    border: 2px solid #f3f3f3;
    border-radius: 5px;
}

.input-div > input:focus {
    outline-color: #919191;
}

.result {
    display: none;
    width: 62.5%;
    margin: 0 auto 30px auto;
    padding: 20px 5px 5px 5px;
    border-radius: 10px;
    box-shadow: 7.5px -7.5px #f3f3f3;
    color: black;
    background: #f8f6f6;
    opacity: 0.875;
}

.result > p {
    text-align: center;
    margin-bottom: 20px;
}

.restart-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.restart-btn {
    width: 75px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 30px;
    border: 2px solid #f3f3f3;
    border-radius: 5px;
}

.restart-btn:hover {
    color: #fff;
    background:#919191;
}
